@font-face {
  font-family: lilyjazz-text;
  src: url("../fonts/lilyjazz-text.otf") format("opentype");
}

@font-face {
  font-family: lilyjazz-chord;
  src: url("../fonts/lilyjazz-chord.otf") format("opentype");
}

:root {
  --bg-color: #121212;
  /* --accent-color: #1f2933; */
  --accent-color: #1f2933;
  --light-accent-color: #2d3c4c;
  --action-color: orange;
  --txt-color: #bdbdbd;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: lilyjazz-text;
}

#app-wrapper {
  width: 100%;
}
